
img{
width:90%;
padding: 2%;
}

.row{
text-align: center;
}

@media (min-width:720px){
img{
    width: 100%;
}

p{
    text-align: left;
    padding: 2%;   
}

}

.imgbig{
    height:95%;
    padding: 2%;
}

body{
    padding-top: 5%;
}

